#== Ports

# Port for the app corresponding to this particular .envrc file
# Used to determine where which port to run rails/phoenix server from.
export PORT="4012"

#== FMS Engine URLs

#== Secrets

#== Seeds
export FI_PRIVATE_PEM_PATH="~/.keys/jwtRS256.key"
export FI_PUBLIC_PEM_PATH="~/.keys/jwtRS256.key.pub"

export PRIVATE_PEM_PATH="~/.keys/jwtRS256.key"
export PUBLIC_PEM_PATH="~/.keys/jwtRS256.key.pub"
